.tasks-container {
  display: table;
  margin: 0 auto;
  label {
    display: none;
  }
  #new-item {
    height: 40px;
    width: 500px;
    padding-left: 10px;
    margin: 20px 0;
    font-size: 20px;
    font-family: monospace;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #000;
    border-radius: 3px;
  }
  .tasks {
    .task {
      font-size: 20px;
      font-family: monospace;
      margin-bottom: 10px;
      padding: 10px;
      i {
        float: right;
        cursor: pointer;
      }
      #edit-item {
        height: 30px;
        padding-left: 10px;
        outline: 0;
        font-size: 20px;
        font-family: monospace;
        border: 0;
        border-left: 2px solid #f63c3c;
        border-right: 2px solid #f63c3c;
      }
      input[type="checkbox"] {
        transform: scale(1.5, 1.5);
        margin-right: 10px;
        outline: 0;
        &:checked + .description {
          color: #f63c3c;
          text-decoration: line-through;
        }
      }
    }
  }
}

h1 {
  text-align: center;
  font-family: monospace;
  font-weight: normal;
}

label {
  font-family: monospace;
  font-size: 16px;
}

#full-name,
#user-name,
#email,
#password,
#password-confirmation
 {
  border: 0;
  outline: 0;
  border-bottom: 2px solid #000;
  border-radius: 3px;
  margin-left: 10px;
}

button, .register, .sign-out {
  background-color: #000;
  border: 0;
  border-radius: 3px;
  outline: 0;
  font-family: sans-serif;
  color: #fff;
  font-size: 12px;
  font-family: monospace;
  padding: 10px;
  transition: 0.5s background linear;
  cursor: pointer;
  &:hover {
    background-color: #f63c3c;

  }
}

.register, .sign-out {
  text-decoration: none;
}