<div class="login-form" ng-controller="AuthController as auth">
  <form ng-submit="auth.loginUser()" ng-init="loginForm = {}">
    <p>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" ng-model="loginForm.email">
    </p>

    <p>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" ng-model="loginForm.password">
    </p>

    <button type="submit">Login</button>
    <a href="/sign_up"  class="register">Register</a>
  </form>
</div>